@{
	ViewData["Title"] = "Home";
}


<div class="text-center">
	<h1 class="display-4">Bem-vindo ao nosso sistema de estoque! </h1>
</div>
<div class="container display-4 mt-5">
	<div class="d-flex align-items-center justify-content-center col">
		<img src="~/img/home/home-gif.svg" width="550" class="m-4" />
		<span class="text-center align-align-middle p-2 m-3 fs-4">
			Aqui você terá controle total sobre seus produtos e suas movimentações.
			<br />
			<br />
			Com apenas alguns cliques, você poderá monitorar seus estoques, realizar ajustes e acompanhar em tempo real as entradas e saídas de produtos.
			<br />
			<br />
			Esperamos que essa ferramenta facilite seu trabalho e ajude a melhorar sua gestão de estoque. Não hesite em entrar em contato conosco se precisar de ajuda.
		</span>
	</div>
</div>